@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#espacoFrase {
  height: 120px;
  width: 1000px;
  margin-left: 20%;
  margin-top: 13%;
}

#frase {
  color: rgb(0, 0, 0);
  font-family: "Pacifico", serif;
  font-style: italic;
  font-size: 200%;
  text-shadow: 0 0 0.4em rgb(255, 255, 255);
}

#btGerarFrase {
  margin-left: 25%;
  margin-top: 0.4%;
  background-color: transparent;
  animation: none;
  border: none;
  background-color: rgb(183, 89, 89);
  border-radius: 13px;
}

#btGerarFrase:hover {
  background-color: rgb(112, 54, 54);
  border-radius: 13px;
}

#btGerarFrase:disabled {
  background-color: transparent;
}

footer {
  position: absolute;
  text-align: center;
  padding-bottom: 1%;
  width: 100%;
  line-height: initial;
  bottom: 0px;
}

footer a {
  color: black;
  padding-left: 10px;
  position: relative;
}

footer a:hover {
  color: rgb(183, 89, 89);
  padding-left: 10px;
  position: relative;
}
